@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background: #eee5e9;
    font-family: 'Poppins', sans-serif;
}
.players{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 45px;
    column-gap: 45px; */
    grid-gap: 45px;
    align-items: center;
    
}
.players img{
    width: 300px;
    /* height: 200px; */
    /* width: 300px; */
    height: 256px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */

    margin: 15px;
    
}
.players .player{
   

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: 330px;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
        /* border-radius: 20px; */
        transition: transform .3s;
        /* height: 474px; */
        overflow: hidden;

}
.text p{
    font-size: 16px;
}


.players .player:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}
.text{
    padding: 0 20px 20px;
}

.text h3{
    text-transform: uppercase;
}
.text p{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 6.6em;
    line-height: 26px;
}
}
.text button{
    background: #ef6f6c;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
a{
    text-align: center;
    display: block;
    background-color: #ef6f6c;
    background-color: rgb(116, 3, 116);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 7px;
    width: 90%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;

}

/* Media query added */

/* Mobile Device */

@media only screen and (max-width:788px){
    .container-player{
        width: 100%;
    }
    .players{
        /* background-color:aqua; */
        grid-template-columns: repeat(1, 1fr);
        
    }
    .player{
        flex-direction: column;
    }
}


/* Ipad  */

@media only screen and (min-width:688px) and (max-width:992px){
    .container-player{
        width: 100%;
    }
    .players{
        /* background-color:aqua; */
        grid-template-columns: repeat(2, 1fr);
        

    }
    
        

    }
    .player{
        flex-direction: column;
    }
   
}