
.video-container h1{
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(green, yellow);
    margin: 0 auto;
    width: 400px;
    color: white;
    font-weight: 700;
}

.videos{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 45px;
    column-gap: 45px; */
    grid-gap: 45px;
    align-items: center;
} 


.video iframe{
   height: 400px;
   width: 100%;
  
   border-radius: 20px;
   box-shadow: 5px 10px 18px gray;
}




/* Media query added */

/* Mobile Device */

@media only screen and (max-width:688px){
    .video-container{
        width: 100%;
    }
    .videos{
        /* background-color:aqua; */
        grid-template-columns: repeat(1, 1fr);
        margin: 40px;
        
    }
    .video{
        flex-direction: row;
        
    }
}


/* Ipad  */

@media only screen and (min-width:688px) and (max-width:992px){
    .video-container{
        width: 100%;
    }
    .videos{
        /* background-color:aqua; */
        grid-template-columns: repeat(2, 1fr);
        margin: 35px;
        

    }
    
        

    }
    .video{
        flex-direction: column;
    }
   
}